
/* =======================================================


Copy the CSS code from the resources/css/styles.css file into your scss partials.
Copy the code that is under both the Base styles and Typography code comments to your
_typography.scss partial file.


 ======================================================= */

* {
  font-family: $font-lato;
  color: $Secondary-color;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


.headline-primary {
  color: $Prinmary-color;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: $Secondary-color;
}

.link {
  color: #51ddfc;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $Prinmary-color;
  border-radius: 5px;
}
